{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
        {% bootstrap_css %}
    {% endblock %}
    {% if title %}
        <title>Moriga Tribune {{ title}} </title>
    {% else %}
        <title>Moringa tribune</title>
    {% endif %}
</head>
<body>
    {% include 'navbar.html'%}
    {% block content %}
        <h2>News for {{ date |date:"l d-F Y"}}</h2>
    {% endblock %}

    {% block scripts %}
        <!-- add bootstrap and jquery -->
        {% bootstrap_javascript jquery='full' %}
    {% endblock %}
</body>
</html>